<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>Hello WORLD</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <div class="container">
      <img src="hello.png" />
      <img src="world.png" />
      <p>A "Hello, World!" program is generally a computer program that ignores any input and outputs or displays a message similar to "Hello, World!". <br><br>A small piece of code in most general-purpose programming languages, this program is used to illustrate a language's basic syntax. "Hello, World!" programs are often the first a student learns to write in a given language, and they can also be used as a sanity check to ensure computer software intended to compile or run source code is correctly installed, and that its operator understands how to use it.</p>
    </div>
  </body>
</html>
